.App{
  align-items: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header {
  width: 90%;
  margin-left: 70px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 2px rgba(199, 199, 199, 0.496) solid;
  border-width: 100%
}

.navBar a {
  text-decoration: none;
  margin-left: 15px;
  color: #FFB0B0;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  transition: 2s ease-in-out;
}

.navBar a:hover{
  text-decoration: underline;
}

.navBar {
  margin-top: 65px;
  float: left;
  margin-right:60px;
}

.topPage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.conePhoto{
  width:80%;
  margin-top: 100px;
  margin-left: 150px;
}

.slogan {
  color: #FFB0B0;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
}

.orderButton {
  text-decoration: none;
  color: white;
  background-color: #FF9797;
  font-family: 'Oswald', sans-serif;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  border:1px white solid;
  box-shadow: 3px 3px 3px 3px rgba(136, 136, 136, 0.211);
}

.orderButton:hover {
  background-color: white;
  color: #FFB0B0;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
}

.menuContainer {
  text-align: center;
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.menuContainer img {
  max-width: 150px;
  transition: all .2s ease-in-out;
  
}

.menuContainer img:hover{
  transform: scale(1.1); 
}

.menuContainer h1{
  color: #FFB0B0;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

.menuContainer h4{
  color: #60e8f7;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 65px;

}
.Cones{
  text-align: center;
}

.Cones div {
  margin-right: 30px;
}

.Flavors div {
  margin-right: 30px;
}

.Toppings div {
  margin-right: 30px;
}

.orderButtonMenu {
  text-decoration: none;
  color: white;
  background-color: #FF9797;
  font-family: 'Oswald', sans-serif;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  border:1px white solid;
  box-shadow: 3px 3px 3px 3px rgba(136, 136, 136, 0.211);
  font-size: 25px;
  margin-bottom: 100px;
}

.orderButtonMenu:hover {
  background-color: white;
  color: #FF9797;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
}

.orderContainer {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right:200px;
  padding-left:200px;
  text-align: -webkit-center; 
  width: '100%'
}

.orderContainer h1 {
  color: #FFB0B0;
  font-family: 'Oswald', sans-serif;
  margin-top: 30px;
  font-size: 30px;;
}

.orderContainer Input {
  margin-bottom: 30px;
}

.checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imagecone {
  width: 80%;
  margin-left: 80px;
}

.coneabout {
  margin-top: 130px;
  text-align: center;
  color: #FFB0B0;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.about {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
}

.footer {
  border-top: 2px rgba(199, 199, 199, 0.496) solid;
  width: 90%;
  border-width: 100%;
  margin-top: 60px;
  text-align: center;
  margin-left: 70px;
}

.footer p {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width:500px) {
  .Header {
    display: flex;
    flex-wrap: wrap;
    border:none;
    text-align: center;
    justify-content: center;
    margin:0;
    width: 100%;
    border-bottom: 2px rgba(199, 199, 199, 0.496) solid;
    border-width: 100%
  }

  .navBar a {
    text-decoration: none;
    color: #FFB0B0;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    transition: 2s ease-in-out;
    display: flex;
    margin:0;
    justify-content: center;
    padding-bottom: 10px;
  }
  
  .navBar a:hover{
    text-decoration: underline;
  }
  
  .navBar {
    margin-top: 0px;
    margin-right: 0;
  }

  .topPage{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .conePhoto{
    width:80%;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  
  .slogan {
    color: #FFB0B0;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
  }
  
  .orderButton {
    text-decoration: none;
    color: white;
    background-color: #FF9797;
    font-family: 'Oswald', sans-serif;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border:1px white solid;
    box-shadow: 3px 3px 3px 3px rgba(136, 136, 136, 0.211);
  }
  
  .orderButton:hover {
    background-color: white;
    color: #FFB0B0;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
  }

  .menuContainer {
    text-align: center;
    margin-top: 50px;
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 0;
  }
  
  .menuContainer img {
    width: 80%;
    transition: none;
  }
  
  .menuContainer img:hover{
    transform: none;
  }
  
  .menuContainer h1{
    color: #FFB0B0;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
  }
  
  .menuContainer h4{
    color: #60e8f7;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 65px;
    font-size: 10px;
  
  }
  .Cones{
    text-align: center;
  }

  .Cones div {
    margin-right: 0;
  }

  .Cones img {
    max-width: 50%;
  }

  .Flavors div {
    margin-right: 0;
  }

  .Flavors img {
    width: 40%;
  }

  .Toppings img {
    width: 80%;
  }

  .Bananas {
    margin-right: 10px;
  }
  
  .orderButtonMenu {
    display: none;
  }
  
  .orderButtonMenu:hover {
    transition: none;
  }

  .orderContainer {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right:0px;
    padding-left:0px;
    text-align: -webkit-center; 
    width: 90%;
  }

  
  .orderContainer h1 {
    color: #FFB0B0;
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
    font-size: 20px;;
  }
  
  .orderContainer Input {
    margin-bottom: 0px;
    max-width: 80%;
  }
  
  .checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 12px;
  }
  

  .footer {
    border-top: 2px rgba(199, 199, 199, 0.496) solid;
    width: 100%;
    border-width: 100%;
    margin-top: 60px;
    text-align: center;
    margin-left: 0px;
  }
  
  .footer p {
    padding-top: 50px;
    padding-bottom: 50px;
  }

}